<div class="message">
  <div class="message-user">
    <%= message.user.nickname%>
  </div>
  <div class="message-date">
    <%= l message.created_at%>
  </div>
  <div class="lower-message">
    <%= message.content%>
  </div>
</div>