<div class="tasks-side-wrapper">
  <div class="new">
    <%=link_to '新規作成', new_task_path %>
  </div>
  <div class="tasks-side-bar" id="show">
    <% @tasks.each do |task| %>
      <ul class="side-list">
        <div class="list">
          <li class="show-list"><%= link_to task.title%></li>
        </div>
      </ul>
    <% end %>
  </div>
</div>