<div class= "head">
  <%= render "tasks/head"%>
</div>
<div class="chat-new">
  <%= link_to '新規チャット作成', new_room_path %>
</div>
<div class="rooms-list">
  <% @rooms.each do |room| %>
    <ul class="room-list">
      <div class="list">
        <li><%= link_to room.name, room_messages_path(room) %></li>
      </div>
    </ul>
  <% end %>
</div>


