.head {
  background-color: aqua;
  width: 100vw;
  height: 100px;
  padding: 20px 100px 0 40px;
}

.head-wrapper{
  display: flex;
  justify-content: space-between;
}

.head-left {
  height: 80px;
  background-color: cornsilk;
}

.head-right-top {
  height: 80px;
}

.head-top-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none; 
  height: 40px;
}

.user-nickname {
  color: #333333;
}

.logout {
  color: #333333;
}

.new-registration {
  color: #333333;
  background-color: aliceblue;
  margin: 10px;
}

.login {
  color: #333333;
}

.head-bottom-list {
  display: flex;
  list-style: none;
}

.bottom-list {
  padding: 0 10px 0 20px;
}

.wrapper {
  display: flex;
}

.side {
  background-color: aquamarine;
  width: 200px;
  height: 100vh;
  padding: 20px;
}

.main {
  width: calc(100vw - 200px);
  padding: 20px 40px 20px 20px;
}